= form_with model: @message, url: url_for_form(@message) do |f|
  - if @message.errors.any?
    = render 'form_errors', model: @message

  .form-group
    = f.label :from
    = f.text_field :from, class: "form-control"
  .form-group
    = f.label :subject
    = f.text_field :subject, class: "form-control"
  .form-group
    = f.label :body
    = f.text_area :body, class: "form-control"
  .form-group
    = f.submit class: "btn btn-primary"
