%h2= @message.subject

%p.my-0
  %strong= Message.human_attribute_name(:from) + " :"
  = @message.from
%p.my-0
  %strong= Message.human_attribute_name(:created_at) + " :"
  = l(@message.created_at)

%p.my-3= @message.body

.form-row.justify-content-center
  .col-auto= link_to t('back'), url_for(action: 'index'), class: "btn btn-secondary"
  .col-auto= link_to t('destroy'), url_for(action: 'destroy'), class: "btn btn-danger", method: :delete, data: { confirm: t('.confirm') }
