= form_for @user do |f|
  - if @user.errors.any?
    = render 'form_errors', model: @user

  .form-group
    = f.label :email
    = f.email_field :email, class: "form-control", autocomplete: "off"
  .form-group
    = f.submit class: "btn btn-primary"
