%h1= t('.title')

%table
  %thead
    %tr
      %th= User.human_attribute_name(:email)
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        - user.to_param.tap do |id|
          %td= link_to t('show'), user
          %td= link_to t('edit'), edit_user_path(user)
          %td= link_to t('destroy'), user, method: :delete, data: { confirm: t('.confirm', email: user.email) }

%br

= link_to t('.new'), new_user_path
