%h1= t('.title')

%table
  %thead
    %tr
      %th= User.human_attribute_name(:email)
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= link_to t('show'), url_for(action: :show, id: user)
        %td= link_to t('edit'), url_for(action: :edit, id: user)
        %td= link_to t('destroy'), url_for(action: :destroy, id: user), method: :delete, data: { confirm: t('.confirm', email: user.email) }

%br

= link_to t('.new'), url_for(action: :new)
