%p
  %b= User.human_attribute_name(:email) + ":"
  = emphasis_if_unverified(@user, :email)
- if @user.admin?
  %p
    %b= User.human_attribute_name(:role) + ":"
    = @user.role.name

= link_to t('edit'), url_for(action: :edit, id: @user)
\|
= link_to t('back'), url_for(action: :index)
