= form_with model: @project, url: url_for_form(@project) do |f|
  - if @project.errors.any?
    = render 'form_errors', model: @project

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control"
  .form-group
    = f.label :live_url
    = f.url_field :live_url, class: "form-control"
  .form-group
    = f.label :github_url
    = f.url_field :github_url, class: "form-control"
  
  = yield f
