%h3.text-center= @project.name

.row
  - if @project.image.attached?
    .col-auto
      = image_tag @project.image, style: "max-width: 300px;"
  .col
    %p= @project.description
.row.my-3
  .col.small.text-center
    - live_url   = @project.live_url.presence
    - github_url = @project.github_url.presence
    - if live_url
      %a.text-reset{href: live_url, target: "_blank"}= live_url
    - if live_url && github_url
      %br
    - if github_url
      %a.text-reset{href: github_url, target: "_blank"}= github_url

.form-row.justify-content-center
  .col-auto
    = link_to t('edit'), url_for(action: 'edit', id: @project), class: "btn btn-primary"
  .col-auto
    = link_to t('back'), url_for(action: 'index'), class: "btn btn-secondary"
