= form_with model: @project, url: url_for_form(@project) do |f|
  - if @project.errors.any?
    = render 'form_errors', model: @project

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :live_url
    = f.text_field :live_url
  .field
    = f.label :github_url
    = f.text_field :github_url
  .actions
    = f.submit
