%p
  %b= Project.human_attribute_name(:name) + " :"
  = @project.name
%p
  %b= Project.human_attribute_name(:description) + " :"
  = @project.description
%p
  %b= Project.human_attribute_name(:live_url) + " :"
  = @project.live_url
%p
  %b= Project.human_attribute_name(:github_url) + " :"
  = @project.github_url

= link_to t('edit'), url_for(action: 'edit', id: @project)
\|
= link_to t('back'), url_for(action: 'index')
