= form_with model: @post, url: url_for_form(@post) do |f|
  - if @post.errors.any?
    = render 'form_errors', model: @post

  .field
    = f.label :language
    = f.text_field :language
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :preview
    = f.text_field :preview
  .field
    = f.label :published_on
    = f.date_select :published_on
  .actions
    = f.submit
