= form_with model: @post, url: url_for_form(@post) do |f|
  - if @post.errors.any?
    = render 'form_errors', model: @post

  .form-group
    = f.label :language
    = f.select :language, options_for_language, class: "form-control"
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control", autocomplete: "off", required: true
  .form-group
    = f.label :preview
    = f.text_area :preview, class: "form-control", autocomplete: "off", required: true, maxlength: 500
  
  = yield f
