= render layout: 'card' do
  .card-body
    %h4.mb-3.text-center= t('admin.posts.edit.title')

    = render 'form' do |f|
      .form-row.justify-content-center
        .col-auto
          = f.submit class: "btn btn-primary"
        .col-auto
          = link_to t('back'), url_for(action: 'index'), class: "btn btn-secondary"
