.row.mb-2
  .col
    .card.border-0
      .card-body.py-1
        %span.h4.card-title= t('.title')
        %span.h4.card-title.mx-3 &middot;
        %span.card-text= link_to t('.new'), url_for(action: 'new')

- if @posts.blank?
  = render layout: 'card' do
    .card-body
      %h6.card-title.mb-0= t('admin.posts.index.empty')
- else
  = render partial: 'post', collection: @posts, layout: 'card'
