- if @post.draft?
  %p.text-center.mb-2= t('.title.draft')

= render layout: 'card' do
  .card-body.text-center.p-5
    %h2.font-weight-bolder.text-uppercase
      = @post.title
    %span.datetime.h6.mb-3.text-muted
      - if @post.draft?
        %em= l(@post.created_at.to_date, format: :long)
      - else
        = l(@post.published_on, format: :long)
    %hr
    .text-justify.my-5
      = @post.content
    
    - if @post.draft?
      %button.card-link.btn.btn-warning{type: "button", data: {toggle:"modal", target: "#modal"}} 
        = t('publish')
    = link_to t('edit'), url_for(action: 'edit', id: @post), class: "card-link btn btn-primary"
    = link_to t('back'), url_for(action: 'index'), class: "card-link btn btn-secondary"

= render 'modal', id: "modal", title: t('.publish_date') do
  = form_with model: @post, url: url_for_form(@post) do |f|
    = f.text_field :published_on, class: "form-control-plaintext d-none flatpickr flatpickr-input", readonly: "readonly"
    .d-flex.justify-content-center.my-1
      #flatpickr
    .d-flex.justify-content-center.my-1
      = f.submit t('publish'), class: "btn btn-warning m-1"
      %button.btn.btn-secondary.m-1{type: "button", data: {dismiss: "modal"}}
        = t('cancel')
