%h5= t('.title')
%small= t('.body')

= render 'form' do |f|
  .form-row.justify-content-center
    .col-auto
      = f.submit class: "btn btn-primary"
    .col-auto
      = link_to t('back'), url_for(action: 'index'), class: "btn btn-secondary"
