%h5= t('.title')

%ul.list-group.my-4
  - if @abouts.blank?
    %li.list-group-item
      = t('.empty')
  - else
    - @abouts.each do |about|
      %li.list-group-item.list-group-item-action{class: "d-flex"}
        - content = about.send(I18n.locale).to_plain_text.truncate_words(20)
        - if about.draft?
          %a.text-reset.mr-auto{href: url_for(action: 'show', id: about)}
            %em= "[#{t('draft')}] #{content}"
          %span.text-muted.my-auto.mx-2{title: About.human_attribute_name(:created_at)}
            %em.small= date = l(about.created_at.to_date)
        - else
          %a.text-reset.mr-auto{href: url_for(action: 'show', id: about)}
            = content
          %span.text-muted.my-auto.mx-2{title: About.human_attribute_name(:published_on)}
            = date = l(about.published_on)
        - if about.draft? || (about == @current)
          = link_to url_for(action: 'edit', id: about), class: "my-auto mx-1", title: t('.edit') do
            = image_tag("pencil.svg", size: "16", class: "close")
        - else
          %span.my-auto.mx-1
            = image_tag("pencil.svg", size: "16", class: "close disabled")
        = link_to url_for(action: 'destroy', id: about), class: "my-auto mx-1", title: t('.delete'), method: :delete, data: { confirm: t('.confirm', from: date)} do
          = image_tag("trash.svg", size: "16", class: "close")

= link_to t('.new'), url_for(action: 'new')
