%h5
  - if @about.draft?
    = t('.title.draft')
  - elsif @about.current?
    = t('.title.current', from: @about.from)
  - else
    = t('.title.past', from: @about.from, to: @about.to)

%ul.nav.nav-tabs{role: "tablist", class: "justify-content-center"}
  %li.nav-item{role: "presentation"}
    %a.nav-link{id: "fr-tab", role: "tab", href: "#fr", class: "active",
                data: {toggle: "tab"}, aria: {controls: "fr", selected: "true"}}= t('fr')
  %li.nav-item{role: "presentation"}
    %a.nav-link{id: "en-tab", role: "tab", href: "#en",
                data: {toggle: "tab"}, aria: {controls: "en", selected: "false"}}= t('en')
.tab-content.my-3
  .tab-pane.fade{id: "fr", role: "tabpanel", aria: {labelledby: "fr-tab"}, class: "show active"}
    .form-row
      - if @about.image.attached?
        .col-auto
          = image_tag @about.image, width: 300
      .col
        = @about.fr
  .tab-pane.fade{id: "en", role: "tabpanel", aria: {labelledby: "en-tab"}}
    .form-row
      - if @about.image.attached?
        .col-auto
          = image_tag @about.image, width: 300
      .col
        = @about.en

.form-row.justify-content-center
  - if @about.draft?
    .col-auto
      = form_with model: @about, url: url_for_form(@about) do |f|
        = f.hidden_field :published, value: "1"
        = f.submit t('publish'), class: "btn btn-warning"
    .col-auto
      = link_to t('edit'), url_for(action: 'edit', id: @about), class: "btn btn-primary"
  - elsif @about.current?
    .col-auto
      = link_to t('edit'), url_for(action: 'edit', id: @about), class: "btn btn-primary"
  .col-auto
    = link_to t('back'), url_for(action: 'index'), class: "btn btn-secondary"
