%h5= t('.title')

%ul.nav.nav-tabs{role: "tablist", class: "justify-content-center"}
  %li.nav-item{role: "presentation"}
    %a.nav-link{id: "fr-tab", role: "tab", href: "#fr", class: "active",
                data: {toggle: "tab"}, aria: {controls: "fr", selected: "true"}}= t('fr')
  %li.nav-item{role: "presentation"}
    %a.nav-link{id: "en-tab", role: "tab", href: "#en",
                data: {toggle: "tab"}, aria: {controls: "en", selected: "false"}}= t('en')
.tab-content.my-3
  .tab-pane.fade{id: "fr", role: "tabpanel", aria: {labelledby: "fr-tab"}, class: "show active"}
    .form-row
      - if @about.image.attached?
        .col-auto
          = image_tag @about.image, width: 300
      .col
        = @about.fr
  .tab-pane.fade{id: "en", role: "tabpanel", aria: {labelledby: "en-tab"}}
    .form-row
      - if @about.image.attached?
        .col-auto
          = image_tag @about.image, width: 300
      .col
        = @about.en

= link_to t('edit'), url_for(action: 'edit', id: @about)
\|
= link_to t('back'), url_for(action: 'index')
