%h4= t('.title')

%table
  %thead
    %tr
      %th= Post.human_attribute_name(:language)
      %th= Post.human_attribute_name(:title)
      %th= Post.human_attribute_name(:preview)
      %th= Post.human_attribute_name(:published_on)
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.language
        %td= post.title
        %td= post.preview
        %td= post.published_on
        %td= link_to t('show'), url_for(action: 'show', id: post)
        %td= link_to t('edit'), url_for(action: 'edit', id: post)
        %td= link_to t('destroy'), url_for(action: 'destroy', id: post), method: :delete, data: { confirm: t('.confirm', title: post.title) }

%br

= link_to t('.new'), url_for(action: 'new')
