%p#notice= notice

%p
  %b Language:
  = @post.language
%p
  %b Title:
  = @post.title
%p
  %b Preview:
  = @post.preview
%p
  %b Published on:
  = @post.published_on

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
