%p
  %b= Post.human_attribute_name(:language) + " :"
  = @post.language
%p
  %b= Post.human_attribute_name(:title) + " :"
  = @post.title
%p
  %b= Post.human_attribute_name(:preview) + " :"
  = @post.preview
%p
  %b= Post.human_attribute_name(:published_on) + " :"
  = @post.published_on

= link_to t('edit'), url_for(action: 'edit', id: @post)
\|
= link_to t('back'), url_for(action: 'index')
