%h1= t('.title')

%table.table.table-sm.table-hover.pb-3
  %thead
    %tr
      %th{scope: "col", style: "width: 75%;"}= User.human_attribute_name(:email)
      %th{scope: "col", style: "width: 25%;"}= User.human_attribute_name(:created_at)
      %th{scope: "col"}
      %th{scope: "col"}
      %th{scope: "col"}

  %tbody
    - @users.each do |user|
      %tr{class: ("table-info" if user.admin?)}
        %td= emphasis_if_unverified(user, :email)
        %td= l(user.created_at.to_date)
        %td= link_to t('show'), url_for(action: :show, id: user)
        %td= link_to t('edit'), url_for(action: :edit, id: user)
        %td
          - unless user.admin?
            = link_to t('destroy'), url_for(action: :destroy, id: user), method: :delete, data: { confirm: t('.confirm', email: user.email) }
