.d-flex.w-100.justify-content-between
  %h5= t('.title')
  %a.position-relative{href: url_for(controller: 'messages', action: 'index'),
                       title: t('.messages.unread', count: @messages.unread.count)}
    = image_tag("message.svg", size: "24", class: "mx-3 close")
    %span.badge.badge-pill.badge-danger.position-absolute{style: "left: 0;"}
      = @messages.unread.count

.list-group.mt-4
  %a.list-group-item.list-group-item-action{class: "d-flex justify-content-between text-reset",
                                            href: url_for(controller: 'abouts', action: 'index')}
    = t('admin.abouts.index.title')
    %div
      - unless @abouts.published.empty?
        %small.text-muted.mx-1{title: t('.abouts.date')}= l(@abouts.current.published_on.to_date)
      %span.badge.badge-pill.badge-primary{title: t('.abouts.published')}= @abouts.published.count
      %span.badge.badge-pill.badge-secondary{title: t('.abouts.draft')}= @abouts.draft.count
  
  %a.list-group-item.list-group-item-action{class: "d-flex justify-content-between text-reset",
                                            href: url_for(controller: 'users', action: 'index')}
    = t('admin.users.index.title')
    %div
      %span.badge.badge-pill.badge-primary{title: t('.users.verified')}= @users.verified.count
      %span.badge.badge-pill.badge-secondary{title: t('.users.unverified')}= @users.unverified.count
