#site-branding.text-center.mx-4.py-3
  #site-title.text-uppercase
    jtduchesne.com
  #site-description.text-uppercase
    = t('.description')

.nav.d-flex.justify-content-center
  %nav.nav{role: "navigation"}
    %a.text-secondary.nav-link{href: home_path, class: active_if(home_path)}= t('sections.blog')
    %a.text-secondary.nav-link{href: "#"}= t('sections.projects')
    %a.text-secondary.nav-link{href: "#"}= t('sections.contact')
    %a.text-secondary.nav-link{href: about_path, class: active_if(about_path)}= t('sections.about')
  %span.nav-link.cursor-default &middot;
  %small.my-auto
    %a.text-secondary.nav-link{href: "#", class: "dropdown-toggle dropdown-toggle-split",
                               id: "dropdownLanguage", title: t('.language'),
                               data: {toggle: "dropdown", offset: ",-5", flip: "false"},
                               aria: {haspopup: "true", expanded: "false"}}
      = I18n.locale.to_s.upcase
    .dropdown-menu.p-1{aria: {labelledby: "dropdownLanguage"}}
      - if I18n.locale == :fr
        %a.dropdown-item.small{class: "disabled"} Français
      - else
        %a.dropdown-item.small{href: url_for(locale: "fr"), data: {turbolinks: "false"}} Français
      - if I18n.locale == :en
        %a.dropdown-item.small{class: "disabled"} English
      - else
        %a.dropdown-item.small{href: url_for(locale: "en"), data: {turbolinks: "false"}} English
