.nav.d-flex.justify-content-center
  %nav.nav.flex-nowrap{role: "navigation"}
    %a.text-secondary.nav-link.px-2.px-sm-3{href: blog_path, class: active_if(blog_path)}= t('sections.blog')
    %a.text-secondary.nav-link.px-2.px-sm-3{href: projects_path, class: active_if(projects_path)}= t('sections.projects')
    %a.text-secondary.nav-link.px-2.px-sm-3{href: contact_path, class: active_if(contact_path)}= t('sections.contact')
    %a.text-secondary.nav-link.px-2.px-sm-3{href: about_path, class: active_if(about_path)}= t('sections.about')
  .d-none.d-sm-flex
    %span.nav-link.cursor-default &middot;
    %small.my-auto
      %a.text-secondary.nav-link{href: "#", class: "dropdown-toggle dropdown-toggle-split",
                                 id: "dropdownLanguage", title: t('.language'),
                                 data: {toggle: "dropdown", offset: ",-5", flip: "false"},
                                 aria: {haspopup: "true", expanded: "false"}}
        = I18n.locale.to_s.upcase
      .dropdown-menu.p-1{aria: {labelledby: "dropdownLanguage"}}
        - if I18n.locale == :fr
          %a.dropdown-item.small{class: "disabled"} Français
        - else
          %a.dropdown-item.small{href: url_for(locale: "fr"), data: {turbolinks: "false"}} Français
        - if I18n.locale == :en
          %a.dropdown-item.small{class: "disabled"} English
        - else
          %a.dropdown-item.small{href: url_for(locale: "en"), data: {turbolinks: "false"}} English
