!!! 5
%html{lang: I18n.locale}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    
    %title jtduchesne.com
    
    // Generated with: https://realfavicongenerator.net
    // using Public-domain image from: https://freesvg.org
    %link{rel: "icon", type: "image/png", sizes: "32x32", href: "/favicon-32x32.png"}
    %link{rel: "icon", type: "image/png", sizes: "16x16", href: "/favicon-16x16.png"}
    %link{rel: "apple-touch-icon",      sizes: "180x180", href: "/apple-touch-icon.png"}
    %link{rel: "manifest", href: "/site.webmanifest"}
    
    = csrf_meta_tags
    = csp_meta_tag
    
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = render 'bootstrap_css'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'bootstrap_js'
    
    - I18n.available_locales.each do |locale|
      %link{rel: "alternate", href: root_url(locale: locale), hreflang: locale}
    %link{rel: "alternate", href: root_url(locale: nil),  hreflang: "x-default"}
  %body
    %header.shadow-sm
      .container
        = render 'header'
      .container-fluid
        = render 'navbar'
    %main
      .container-fluid
        = yield
      .container
        - if flash.any?
          = render 'toaster'
    %footer
      .container-fluid.px-0
        = render 'footer'
